body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

* {
  margin: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 100px;
}

/* Box sizing rules */
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::-webkit-scrollbar {
  width: 0.75em;
}

::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(130, 106, 200, 0.667)), to(rgba(41, 112, 107, 0.667)));
  background: linear-gradient(rgba(130, 106, 200, 0.667), rgba(41, 112, 107, 0.667));
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#dcd2f966), to(#4be7dc66));
  background: linear-gradient(#dcd2f966, #4be7dc66);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#dcd2f9), to(#03ffee));
  background: linear-gradient(#dcd2f9, #03ffee);
}

/*

#scrollpath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animates 5s linear infinite;
}
@keyframes animates {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
#progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}
#progressbar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}
*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 1rem);
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  background: #333;
  position: relative;
  margin: 40px auto;
  max-width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:target h2 {
  width: 4em;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 0.025rem solid rgba(255, 255, 255, 0.692);
}

main {
  padding: 10px;
}

.active {
  color: #333;
  background-color: rgba(255, 255, 255, 0.692);
  border-radius: 10px;
}

header.sticky {
  padding: 5px 100px;
  background-color: rgba(255, 255, 255, 0.75);
}

header.sticky a {
  color: black;
}

header {
  background-color: rgba(51, 51, 51, 0.75);
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 200;
  -webkit-transition: 500ms;
  transition: 500ms;
}

header nav {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav h2 {
  text-transform: capitalize;
  text-align: start;
  line-height: 1.25rem;
  cursor: pointer;
}

header nav h2 :first-child {
  font-weight: 800;
}

header nav h2 :last-child {
  font-weight: 800;
  letter-spacing: 2.75px;
}

header nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  text-align: center;
  list-style-type: none;
  padding: 0.25em;
}

header nav ul li {
  display: -ms-inline-grid;
  display: inline-grid;
}

header nav ul a {
  cursor: pointer;
  color: #fff;
  padding: 0.5em;
  border-radius: 10px;
  -webkit-transform: scale(1);
          transform: scale(1);
  text-decoration: none;
  background-color: transparent;
  -webkit-transition: padding 500ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: padding 500ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, padding 500ms ease-in-out;
  transition: transform 250ms ease-in-out, padding 500ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

header nav ul a:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

section #home {
  margin-top: 2rem;
  position: relative;
}

section#home h2 {
  text-align: center;
  font-size: 4rem;
  color: #fff;
  margin-bottom: 2rem;
  color: #dcd2f966;
}

section#home h2 span {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(220, 210, 249, 0.275)), to(rgba(75, 231, 220, 0.275)));
  background: linear-gradient(rgba(220, 210, 249, 0.275), rgba(75, 231, 220, 0.275));
  border-radius: 0.5rem;
  height: 75vh;
}

.home div h1 {
  text-align: center;
  font-size: 4em;
  color: rgba(255, 255, 255, 0.692);
}

.home div h1 span {
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
}

.home div h1:first-child {
  background-color: #f3ec78;
  background-image: linear-gradient(145deg, #dcd2f9, #4be7dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home h3 {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
}

.write-up {
  background-color: rgba(51, 51, 51, 0.568);
  color: #fff;
  margin-left: 40px;
  padding: 2rem;
  width: 25%;
  border-radius: 0.5rem;
  height: 50%;
}

.write-up p {
  /*  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
  overflow: hidden;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.divider {
  margin: 40px 40px;
  border: 1px solid rgba(255, 255, 255, 0.507);
  border-radius: 0.25rem;
  opacity: 0.25;
}

section#design h2 {
  text-align: center;
  font-size: 4rem;
  color: #fff;
  margin-bottom: 2rem;
  color: rgba(75, 231, 220, 0.667);
}

section#design h2 span {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.contents {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 480px;
  gap: 1rem;
}

.contents .content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  row-gap: 1rem;
  cursor: pointer;
}

.contents .content img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0 -0.5rem 2rem transparent, 0 0 2rem transparent;
          box-shadow: 0 -0.5rem 2rem transparent, 0 0 2rem transparent;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 500ms ease, -webkit-box-shadow 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28) 125ms;
  transition: -webkit-transform 500ms ease, -webkit-box-shadow 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28) 125ms;
  transition: transform 500ms ease, box-shadow 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28) 125ms;
  transition: transform 500ms ease, box-shadow 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28) 125ms, -webkit-transform 500ms ease, -webkit-box-shadow 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28) 125ms;
}

.contents .content img:hover {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-box-shadow: 0 -0.5rem 2rem rgba(75, 231, 220, 0.275), 0 0 2rem rgba(220, 210, 249, 0.275);
          box-shadow: 0 -0.5rem 2rem rgba(75, 231, 220, 0.275), 0 0 2rem rgba(220, 210, 249, 0.275);
}

.contents .content article {
  background: #fff;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  color: black;
}

.card-tall {
  grid-row: span 2 / auto;
}

.card-wide {
  grid-column: span 2 / auto;
}

section#work h2 {
  text-align: center;
  font-size: 4rem;
  color: #fff;
  margin-bottom: 2rem;
  color: #dcd2f966;
}

section#work h2 span {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.work {
  height: 100vh;
  width: 100%;
  padding: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(220, 210, 249, 0.275)), to(rgba(75, 231, 220, 0.275)));
  background: linear-gradient(rgba(220, 210, 249, 0.275), rgba(75, 231, 220, 0.275));
  border-radius: 0.5rem;
  padding: 10px 3%;
  position: relative;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.work h1 {
  font-size: 3rem;
  position: relative;
  z-index: 2;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px black;
  cursor: pointer;
  transition: transform 500ms ease, -webkit-text-stroke 500ms ease, -webkit-text-fill-color 500ms ease;
}

.work h1:hover {
  background-color: #f3ec78;
  background-image: linear-gradient(145deg, #fafafa, #859190);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px transparent;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.work .imgBx {
  position: absolute;
  top: 0;
  height: 100%;
  width: 75%;
  background-image: url(/images/gray-abstract-wireframe-technology-background.jpg);
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
  -webkit-transition: background-image 500ms ease-in-out 125ms;
  transition: background-image 500ms ease-in-out 125ms;
}

.work :nth-child(1):hover ~ .imgBx {
  background-image: url(/images/wallpaper-8.jpg);
}

.work :nth-child(2):hover ~ .imgBx {
  background-image: url(/images/wallpaper-8.jpg);
}

.work :nth-child(3):hover ~ .imgBx {
  background-image: url(/images/wallpaper-8.jpg);
}

.work :nth-child(4):hover ~ .imgBx {
  background-image: url(/images/wallpaper-8.jpg);
}

.work :nth-child(5):hover ~ .imgBx {
  background-image: url(/images/wallpaper-8.jpg);
}

.work :nth-child(6):hover ~ .imgBx {
  background-image: url(/images/wallpaper-8.jpg);
}

/*contact*/
section#contact h2 {
  text-align: center;
  font-size: 4rem;
  color: #fff;
  margin-bottom: 2rem;
}

section#contact h2 span {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.contact {
  height: 100vh;
  width: 100%;
  padding: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(220, 210, 249, 0.275)), to(rgba(75, 231, 220, 0.275)));
  background: linear-gradient(rgba(220, 210, 249, 0.275), rgba(75, 231, 220, 0.275));
  border-radius: 0.5rem;
  height: 75vh;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 15vw;
  justify-items: center;
}

.contact .moving-border {
  position: relative;
  background-color: rgba(51, 51, 51, 0.568);
  color: #fff;
  margin-left: 40px;
  padding: 2rem;
  width: 25%;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 50%;
  height: 300px;
  margin-left: 0;
  background: rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.contact .moving-border span {
  position: absolute;
  inset: 0.25rem;
  padding: 30px;
  background: #0c1022;
  border-radius: 0.5rem;
  z-index: 1;
}

.contact .moving-border::before {
  content: "";
  position: absolute;
  width: 30rem;
  height: 10rem;
  border-radius: 0.5rem;
  background-image: conic-gradient(transparent, transparent, transparent, #ff2929);
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
  -webkit-animation-timing-function: cubic-bezier(0.63, -0.2, 0.75, 0.72);
          animation-timing-function: cubic-bezier(0.63, -0.2, 0.75, 0.72);
}

.contact .moving-border::after {
  content: "";
  position: absolute;
  width: 30rem;
  height: 10rem;
  border-radius: 0.5rem;
  background-image: conic-gradient(transparent, transparent, transparent, #3df5e9);
  -webkit-animation: animate 4s linear -2s infinite;
          animation: animate 4s linear -2s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.63, -0.2, 0.75, 0.72);
          animation-timing-function: cubic-bezier(0.63, -0.2, 0.75, 0.72);
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*crew*/
section#crew h2 {
  text-align: center;
  font-size: 4rem;
  color: #fff;
  margin-bottom: 2rem;
}

section#crew h2 span {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.crew {
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 240px;
  justify-items: center;
}

.crew div {
  background-color: rgba(51, 51, 51, 0.568);
  color: #fff;
  margin-left: 40px;
  padding: 2rem;
  width: 25%;
  border-radius: 0.5rem;
  margin-left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(220, 210, 249, 0.275)), to(rgba(75, 231, 220, 0.275)));
  background: linear-gradient(rgba(220, 210, 249, 0.275), rgba(75, 231, 220, 0.275));
  width: 250px;
}

footer {
  background: black;
  height: 100px;
  width: 100%;
  -webkit-box-shadow: 0 0 0 100vmax black;
          box-shadow: 0 0 0 100vmax black;
  -webkit-clip-path: inset(0 -100vmax);
          clip-path: inset(0 -100vmax);
  overflow-x: hidden;
  z-index: -10;
}
/*# sourceMappingURL=style.css.map */